/* Split-container */

.split-container {
display:flex;
height:100vh;
margin-top:0;
}


/* Left half */

.left-half{
width:50%;
position:relative;

background: linear-gradient(
    to bottom,
    #24309e 0%,
    #2c37a6 10%,
    #3f49b3 20%,
    #5660bf 30%,
    #7079c8 40%,
    #8c93cb 50%,
    #b0b4d8 60%,
    #d2d4e6 70%,
    #f0f0f5 85%,
    #ffffff 100%
);

color:white;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

/* Background number */

.background-number{
position:absolute;
font-size:25rem;
font-weight:bold;
color:transparent;
background:color(srgb rgb(255, 255, 255));
-webkit-background-clip:text;
background-clip:text;

top:20%;
left:20%;

pointer-events:none;
user-select:none;
z-index:1;
font-weight:900;
mix-blend-mode:normal;
}


/* Title */

.overlay-title {
position:relative;
font-size:3rem;
z-index:2;
letter-spacing:0.1em;
text-transform:uppercase;
margin-bottom:1rem;
}


/* Gallery label */

.gallery-label {
position:relative;
font-size:3rem;
z-index:2;
letter-spacing:0.2em;
color:#facc15;
}


/* Right half */

.right-half {
width:50%;
display:flex;
}


/* Scroll columns */

.column {
flex:1;
overflow-y:auto;
overflow-x:hidden;
}


/* Image style */

.column img {
width:100%;
display:block;
margin-bottom:20px;
border-radius:8px;
transition:transform 0.3s;
}


.column img:hover {
transform:scale(1.05);
cursor:pointer;
}

.logo img{
height:45px;
width:auto;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
}

.logo img{
height:45px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{

text-decoration:none;
font-weight:600;

color:#24309e;

letter-spacing:2px;

transition:0.3s;

}

nav ul li a:hover{

color:black;
border-bottom:2px solid #24309e;

}
