*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;
background:#0f172a;
color:white;
overflow-x:hidden;

}

/* SPLASH */

.splash{

height:100vh;

display:flex;
justify-content:space-between;
align-items:center;

padding:60px;

}

/* LEFT */

.left{

display:flex;
align-items:center;

}

.line{

width:8px;
height:350px;
background:#facc15;

margin-right:30px;

}

.bigText h1{

font-size:90px;
font-style:italic;

color:transparent;
-webkit-text-stroke:2px white;

letter-spacing:4px;

}

/* RIGHT */

.right{

text-align:center;

}

.logo{

width:150px;
border-radius:25px;

transition:transform 0.4s ease;

}

.brand{

font-size:60px;
color:#facc15;

margin-top:20px;

}

/* scroll indicator */

.scrollIndicator{

width:25px;
height:40px;

border:2px solid white;

border-radius:20px;

margin:30px auto;

position:relative;

}

.scrollIndicator::before{

content:"";

width:4px;
height:8px;

background:white;

position:absolute;

top:8px;
left:50%;

transform:translateX(-50%);

border-radius:2px;

animation:scroll 1.5s infinite;

}

@keyframes scroll{

0%{opacity:0; top:8px;}
50%{opacity:1;}
100%{opacity:0; top:20px;}

}

/* HOME */

.home{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:#020617;

font-size:30px;

}