*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{

background:#0f172a;
color:white;
font-family:Arial;

height:100vh;
display:flex;
align-items:center;
justify-content:center;

overflow:hidden;

}

.container{

width:90%;
display:flex;
justify-content:space-between;
align-items:center;

}

/* LEFT SIDE */

.left{

display:flex;
align-items:center;

animation:slideLeft 2s ease;

}

.line{

width:8px;
height:350px;
background:#facc15;
margin-right:30px;

}

/* 3D TEXT */

.text3d h1{

font-size:90px;
font-style:italic;
letter-spacing:4px;

color:white;

text-shadow:
1px 1px 0 #000,
2px 2px 0 #000,
3px 3px 0 #000,
4px 4px 0 #000,
5px 5px 0 #000,
6px 6px 0 #000,
7px 7px 0 #000,
8px 8px 10px rgba(0,0,0,0.5);

animation:floatText 3s ease-in-out infinite;

}

/* RIGHT SIDE */

.right{

text-align:center;
animation:fadeIn 3s ease;

}

.logo{

width:150px;
border-radius:25px;
margin-bottom:20px;

animation:logoFloat 3s ease-in-out infinite;

}

.brand{

font-size:60px;
color:#facc15;
text-shadow:4px 4px 0 black;

}

/* ANIMATIONS */

@keyframes slideLeft{

0%{
transform:translateX(-200px);
opacity:0;
}

100%{
transform:translateX(0);
opacity:1;
}

}

@keyframes fadeIn{

0%{
opacity:0;
}

100%{
opacity:1;
}

}

@keyframes logoFloat{

0%{ transform:translateY(0); }
50%{ transform:translateY(-15px); }
100%{ transform:translateY(0); }

}

@keyframes floatText{

0%{ transform:translateY(0); }
50%{ transform:translateY(-10px); }
100%{ transform:translateY(0); }

}
.scroll-text{

margin-top:20px;
opacity:0.6;
font-size:14px;
animation:scrollBlink 2s infinite;

}

@keyframes scrollBlink{

0%{opacity:0.3;}
50%{opacity:1;}
100%{opacity:0.3;}

}

/* ZOOM TRANSITION */

.zoomLogo{

transform:scale(15);
transition:transform 1.5s ease;

}

body.fadeOut{

opacity:0;
transition:opacity 1s ease;

}